___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Series

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

In [1]:
import numpy as np
import pandas as pd

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

** Using Lists**

In [4]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

** NumPy Arrays **

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

** Dictionary**

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Data in a Series

A pandas Series can hold a variety of object types:

In [10]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [11]:
# Even functions (although unlikely that you will use this)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [12]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [13]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [14]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [15]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [16]:
ser1['USA']

1

Operations are then also done based off of index:

In [3]:
ser1 + ser2

NameError: name 'ser1' is not defined

In [5]:
ser1 = pd.Series([1,2,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e', 'f'])

In [6]:
ser1

a    1
b    2
c    2
d    3
e    4
f    5
dtype: int64

In [8]:
ser1 **2

a     1
b     4
c     4
d     9
e    16
f    25
dtype: int64

In [11]:
df = pd.DataFrame(np.random.rand(10,6), range(1,11), range(1,7))

In [12]:
df

           1         2         3         4         5         6
1   0.013991  0.638372  0.492921  0.035098  0.496920  0.308870
2   0.843861  0.594511  0.424181  0.873663  0.377515  0.230924
3   0.702507  0.645047  0.879205  0.288761  0.219742  0.386480
4   0.482638  0.123313  0.068841  0.795720  0.606332  0.341896
5   0.927536  0.769226  0.232170  0.766420  0.325597  0.216623
6   0.051793  0.024204  0.707409  0.493278  0.983814  0.673682
7   0.303651  0.885832  0.394570  0.261855  0.190103  0.341564
8   0.557130  0.553699  0.227479  0.865699  0.651639  0.614378
9   0.256193  0.649012  0.432669  0.121141  0.967079  0.038195
10  0.851845  0.047918  0.950454  0.138159  0.287544  0.776780

Let's stop here for now and move on to DataFrames, which will expand on the concept of Series!
# Great Job!